target/classes/com/mycompany/typingspeedproject/Countdown.class
target/classes/com/mycompany/typingspeedproject/SentenceProvider.class
target/classes/com/mycompany/typingspeedproject/TypingCalculator.class
target/classes/com/mycompany/typingspeedproject/TypingCalculator$1.class
target/classes/com/mycompany/typingspeedproject/TypingSpeedProject.class
target/classes/com/mycompany/typingspeedproject/TypingSpeedProject$1.class
